<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.ciubex.dscautorename"
    android:versionCode="73"
    android:versionName="5.1.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="ro.ciubex.dscautorename.DSCApplication"
        android:allowBackup="true"
        android:backupAgent="ro.ciubex.dscautorename.util.DSCBackupAgent"
        android:icon="@drawable/ic_launcher"
        android:grantUriPermissions="true"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight"
        android:fullBackupContent="@xml/backupscheme">

        <!-- backup data for API < 23 -->
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIZnobN2u7WEcf6gpr3_TB-UkcIWfYx0PMLMAnmw" />

        <activity
            android:name="ro.ciubex.dscautorename.activity.SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ro.ciubex.dscautorename.activity.InfoActivity"
            android:label="@string/app_name" />
        <activity
            android:name="ro.ciubex.dscautorename.activity.RenameDlgActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <receiver
            android:name="ro.ciubex.dscautorename.receiver.BootEventReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ro.ciubex.dscautorename.receiver.CameraEventReceiver"
            android:enabled="true"
            android:permission="android.permission.CAMERA" >
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <action android:name="com.android.camera.NEW_VIDEO" />
                <action android:name="android.hardware.action.NEW_PICTURE" />
                <action android:name="android.hardware.action.NEW_VIDEO" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ro.ciubex.dscautorename.receiver.ShortcutInstallReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT" >
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ro.ciubex.dscautorename.receiver.ShortcutUninstallReceiver"
            android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT" >
            <intent-filter>
                <action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <service
            android:name="ro.ciubex.dscautorename.receiver.MediaStorageObserverService"
            android:enabled="true" />

        <service
            android:name="ro.ciubex.dscautorename.receiver.FolderObserverService"
            android:enabled="true" />

        <provider
            android:name="ro.ciubex.dscautorename.provider.CachedFileProvider"
            android:authorities="ro.ciubex.dscautorename.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
    </application>

</manifest>
